:root {
  --primary-color: #257985;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 13px 11px;
}

.main {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 39px;
}

.launch, .game {
  position: relative;
  max-width: 220px;
  height: calc(100vh - 75px);
  margin: 0 auto;
}


h1 {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 24px;
}

.modes {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: 38px;
  column-gap: 17px;
}

.mode {
  background-color: #bfbdbd;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  border-radius: 19px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
}

.active {
  background-color: var(--primary-color);
}

.results {
  color: var(--primary-color);
  font-weight: 700;
  text-align: left;
}

h2 {
  font-size: 24px;
  margin: 60px 0 30px;
}

.data p {
  font-size: 20px;
}

.data {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
}

.start {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  height: 40px;
  background-color: var(--primary-color);
  border-style: none;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  margin-top: 20px;
}

.timer {
  font-size: 20px;
  font-weight: 500;
}

.answers {
  display: flex;
  justify-content: space-between;
  margin: 21px auto 7px;
}

.mistakes {
  font-size: 30px;
  font-weight: 700;
  color: #E05858;
}

.correct {
  font-size: 30px;
  font-weight: 700;
  color: #418B69;
}

.example {
  text-align: left;
  font-size: 40px;
  margin: 20px 0 30px;
}

sup {
  font-size: 24px;
}

.buttons {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(4, 60px);
  gap: 20px;
}

.numberButton, .cancel, .next {
  background-color: #E1E1E1;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  color: #000;
  font-size: 32px;
  line-height: 60px;
}

.cancel, .next {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 24px;
}

.hidden {
  display: none;
}


